<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDqCJ4dSQzQX8lSTyIva4hWX-7lqqVFS_Y" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service  android:name=".notifications.CheckListingsService">

        </service>
        <activity
            android:name=".messaging.MessagingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserPreference" />
        <activity
            android:name=".user_profile_page.user_profile_fragments.ReviewPage"
            android:exported="true"
            android:label="Review"
            android:parentActivityName=".user_profile_page.UserProfile" />
        <activity android:name=".SavedAddresses"
            android:exported="true"
            android:label="Search an Address" />
        <activity
            android:name=".user_profile_page.UserProfile"
            android:exported="true" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".registration.LoginActivity" />
        <activity android:name=".registration.PasswordRecoveryActivity" />
        <activity android:name=".registration.RegisterActivity"/>
        <activity android:name=".SuccessActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".UserListingActivity"/>
        <activity android:name=".EditDeleteListingActivity"/>
        <activity android:name=".ValuationService"/>
        <activity android:name=".FeedActivity"/>
        <activity
            android:name=".PostGoods"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.FirstLoginLocation"
            android:exported="true" />
        <activity android:name=".transactions.Transaction"
            android:exported="true"/>
        <activity android:name=".transactions.providerSide"
            android:exported="true"/>
    </application>
</manifest>